<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Please sign in</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
</head>
<body>
<div class="container">
    <h2>Login Form</h2>
    <form class="form-signin" method="post" th:action="@{/login}">
        <!-- <div class="imgcontainer">
             <img src="img_avatar2.png" alt="Avatar" class="avatar">
         </div>-->

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input id="uname" name="username" placeholder="Enter Username" required type="text">

            <label for="psw"><b>Password</b></label>
            <input id="psw" name="password" placeholder="Enter Password" required type="password">

            <button type="submit">Login</button>
            <label>
                <input checked="checked" name="remember-me" type="checkbox"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button class="cancelbtn" type="button">Cancel</button>
            <span class="psw">New User <a href="/registration">Register?</a></span>
        </div>
    </form>
</div>
<object data-extension-version="0.5.0.109" data-supports-flavor-configuration="true" id="__symantecPKIClientMessenger"
        style="display: none;"></object>
<span id="__symantecPKIClientDetector" style="display: none;">__PRESENT</span>
</body>
</html>